# ostree-status.service
[Unit]
Description=Post ostree upgrade status

[Service]
Type=oneshot
ExecStart=/usr/sbin/just --justfile /opt/os-mgmt/system.justfile check-ostree-upgrade-status
OnSuccess=
OnFailure= 

